*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header h1{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 80px;
    text-transform: uppercase;
}

div.todo-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.todo-list ul{
    list-style-type: none;
    width: 70%;
    background-color: cornflowerblue;
    margin: 0 auto;
}

ul li{
    padding:8px 0px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
}

li span {
    margin-right: 10px;
}

ul li:hover{
    background-color: rgb(30, 101, 234);
    cursor: pointer;
}

ul li:last-child{
    border-bottom: 0px;
}

.line-through{
    text-decoration: line-through;
}

div.input-bar{
    width: 70%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}

button {
    width: 9%;
}

input{
    width: 90%;
}
