*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header h1{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 80px;
    text-transform: uppercase;
}

div.todo-list{
    display: flex;
    justify-content: center;
}

div.todo-list ul{
    list-style-type: none;
    margin-left: 50px;
    padding: 6px 0px 0px 4px;
    width: 70%;
    background-color: cornflowerblue;
}

ul li{
    padding:8px 0px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
}

ul li:hover{
    background-color: rgb(30, 101, 234);
    cursor: pointer;
}

ul li:last-child{
    border-bottom: 0px;
}

.line-through{
    text-decoration: line-through;
}

